<template>
  <!-- <require from="./src/assets/css/styles.css"></require> -->
  <!-- Section: Action -->
  <div id="action-section" class="section section-medium section-padded">
    <div className="container center-content">
      <p className="action-text font-title">
        Would you like to work with me?
        <br></br>
        <!-- TODO: resume opens in a new tab -->
        <a href={resume} target="_blank" rel="noreferrer" class="btn btn-transparent" tabIndex="-1" role="button">
          Download Resume
        </a>
      </p>
    </div>
  </div>
  <!-- Section: Contact Me -->
  <div id="contact-me-section" class="section section-light bg-image-blue-1">
    <div class="container">
      <div>
        <h6 class="font-title">Get in touch</h6>
        <h2 class="font-title">Contact Me</h2>
      </div>

      <div class="row">
        <div class="col-md-5">
          <h3 class="font-title">Let's develop something together!</h3>
          <p>If you like what you've seen so far, you can reach me via the ways listed.</p>
        </div>

        <div class="col-md-6 offset-md-1">
          <ul class="icon-list">
            <li>
              <i class=" fa-solid fa-mobile-screen-button"></i> 630-728-2730
            </li>

            <li>
              <i class="fa-solid fa-paper-plane"></i>
              <a href="mailto:meegan.r.anderson@gmail.com">meegan.r.anderson@gmail.com</a>
            </li>
            <li>
              <i class="fa-brands fa-linkedin"></i>
              <a href="https://www.linkedin.com/in/meegan-r-anderson" target="_blank" rel="noreferrer">
                @meegan-r-anderson
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
